# Supabase Configurations
VITE_SUPABASE_URL=https://your-supabase-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# API Backend Configuration
VITE_API_URL=https://nexmart-y2if.onrender.com
